#main {
    margin-top: 25px;
}

.coeff {
    font-family: arial;
    font-size: 0.7em;
    text-align: right;
    border: 0;
}

#github {
    display: block;
    font-size: 0.85em;
    margin: 20px;
}