<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">NWaves.Playground</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-pulse" aria-hidden="true"></span> Signals
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="builders">
                <span class="oi oi-audio" aria-hidden="true"></span> Signal Builders
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="transforms">
                <span class="oi oi-audio-spectrum" aria-hidden="true"></span> Transforms
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="filters">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Filters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="filterbanks">
                <span class="oi oi-project" aria-hidden="true"></span> Filterbanks
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="extractors">
                <span class="oi oi-layers" aria-hidden="true"></span> Feature Extractors
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="operations">
                <span class="oi oi-bolt" aria-hidden="true"></span> Operations
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="effects">
                <span class="oi oi-musical-note" aria-hidden="true"></span> Audio Effects
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
